dataweave-basics/src/main/mule/dataweave-selectors.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="dataweave-json-selectors-flow" doc:id="7b39b89f-29c3-40eb-9292-055511b81d98" >
		<ee:transform doc:name="Transform Message" doc:id="f9045b3d-0550-4447-9197-6176a0aa6417" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
//single value
//payload.source

//multi-value
//payload.*source

{
	"singleValueSelector": payload[0].source,
	"multiValueSelector": payload.*source,
	"indexSelector": payload[0],
	"rangeSelector": payload[0 to 1]
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="dataweave-xml-selectors-flow" doc:id="18f2bb90-87e5-402e-b605-8a026dbe84ef" >
		<ee:transform doc:name="Transform Message" doc:id="71ff1676-05d9-47e5-a67b-319a80dddb6c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"singleValueSelector":payload.covidCases.*covidCase[0].source,
	"xmlNameSpaceSelector":payload.covidCases.*covidCase[0].source.@id,
	"multiValueSelector":payload.covidCases.*covidCase.source,
	"indexSelector": payload.covidCases.*covidCase[0],
	"rangeSelector": payload.covidCases.*covidCase[0 to 2]
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="dataweave-datatypes-flow" doc:id="5066f442-89f8-4ce2-a085-d382bd20bb2c" >
		<ee:transform doc:name="Transform Message" doc:id="872a473a-dad7-4359-b1b4-92c656c1cde7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
