uhub-api/src/main/mule/get-covid-reports.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="get-covid-reportsFlow" doc:id="88720bf6-9964-4be5-bd26-d22659c96d93" >
		<http:listener doc:name="Listener" doc:id="f3028824-3139-4fef-9d82-bdd79c0edc1a" config-ref="HTTP_Listener_config" path="v1/cases" allowedMethods="GET"/>
		<logger level="INFO" doc:name="Logger" doc:id="b36739b5-86a8-4789-b5d9-d28a9b133235" message="#[attributes.queryParams.state]"/>
	</flow>
</mule>
