uhub-api/src/main/mule/update-covid-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="update-covid-caseFlow" doc:id="31d0eb29-54a6-4608-b637-e14468756eb0" >
		<http:listener doc:name="Listener" doc:id="f10ef09c-1cd6-4e8a-a32e-e9ee1553f774" config-ref="HTTP_Listener_config" path="v1/cases" allowedMethods="PUT"/>
		<logger level="INFO" doc:name="Logger" doc:id="98eda5f0-0f24-4b2d-9b21-9fc44ab52b52" message="#[payload.covidCase.source.@id]"/>
		<logger level="INFO" doc:name="Logger" doc:id="fa72a897-a705-4c56-aee2-d4cd13d1a62f" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="b21d6e9a-7238-4a9c-b50a-65a369917818" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	source: payload.covidCase.source,
	caseType: payload.covidCase.caseType,
	firstName: payload.covidCase.firstName,
	lastName: payload.covidCase.lastName,
	fullName: payload.covidCase.firstName ++ " " ++ payload.covidCase.lastName,
	phone: payload.covidCase.phone,
	email: payload.covidCase.email,
	dateOfBirth: payload.covidCase.dateOfBirth as String,
	nationalID: payload.covidCase.nationalID,
	nationalIDType: payload.covidCase.nationalIDType,
	address: {
		streetAddress: payload.covidCase.address.streetAddress,
		city: payload.covidCase.address.city,
		state: payload.covidCase.address.state,
		postal: payload.covidCase.address.postal as String,
		country: payload.covidCase.address.country
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="2a96cbdb-01e4-4d13-a8ad-e7068718e7f9" message="#[payload]"/>
	</flow>
</mule>
