emp-sapi/src/main/mule/get-employee-by-id.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="get-employee-by-idFlow" doc:id="11f75621-da9b-415e-963d-15445d589fa1" >
		<http:listener doc:name="Get Employee Listener" doc:id="76678325-732c-4f2f-bc45-0a7a7e0133e9" config-ref="HTTP_Listener_config" path="get-employee"/>
		<logger level="INFO" doc:name="Start Log" doc:id="dd56efed-9d33-4644-a737-e48b735945c5" message="Started get eployee by id flow"/>
		<db:select doc:name="Select Employee" doc:id="3d588641-5167-4c0c-be54-e6b61549c00a" config-ref="Database_Config">
			<db:sql ><![CDATA[select emp_id, emp_name, emp_status from emp where emp_id=:empID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	empID: attributes.queryParams.employeeID
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Set Response" doc:id="2be698b6-9377-492f-8404-d26e36ef983f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	employeeID: payload[0].emp_id,
	employeeName: payload[0].emp_name,
	employeeStatus: payload[0].emp_status
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End Log" doc:id="a619f524-6100-4bbe-981c-12b51fde9646" message="Completed get employee flow"/>
	</flow>
</mule>
