mule-event-demo/src/main/mule/read-uri-params-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="read-uri-params-demoFlow" doc:id="52852367-5b7d-4a70-b03d-50f6545cecdc" >
		<http:listener doc:name="Listener" doc:id="fa0ba614-d996-4a72-bc33-fa6154d9a695" config-ref="HTTP_Listener_config" path="read-uri-params/{empID}/{empName}/{emStatus}"/>
		<logger level="INFO" doc:name="Logger" doc:id="b79712ce-85c4-41c2-9fda-5290e3020d93" message="#[attributes.uriParams.empID]"/>
	</flow>
</mule>
